/* Universal Styles */

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

p, li, h2 {
    font-family: "Rubik", sans-serif;
    letter-spacing: .5px;
}


h1 {
    font-family: "Arvo", monospace;
    letter-spacing: .5px;
}


body {
    overflow-x: hidden;
}



/* Header */


header {
    background-color: #e16162;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

header * {
    display: inline;
}


header li {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

header li a {
    color: white;
    text-decoration: none;
}

li:hover {
    background-color:  #ea9091;
    text-decoration: none;
}


#my-name {
    color: #fffffe;
    margin-left: 40px;
}





/* Description */

#description {
    background-color: #004643;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh - 100px;
    border-top: 2px solid black;
}


#my-pic {
    width: 50%;
    height: auto;
}

#text-area {
 width: 30%;  
}

#description-big {
    color: #fffffe;
    font-size: 56px;
    font-weight: 500;
    
}

#description-small {
    color: #abd1c6;
    font-size: 20px;
}

/* About Me */

#about-me {
    background-color: #abd1c6;
    padding-top: 20px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid black;
}

#about-me-text {
    width: 30%;
    margin-left: 30px;
    justify-self: left;
}


#about-me-p {
    color: #004643;
    font-size: 20px;
    
}

#me {
    width: 40vw;
    height: auto;
    margin-right: 30px;
    border: 10px solid #e16162;
    border-radius: 15px;
}


/* Skills */

#skills {
    background-color: #004643;
    height: 100vh;
    border-top: 2px solid black;
}


#skills-p {
    color: #abd1c6;
    font-size: 20px;
}

#icon-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.icon {
    margin-left: 40px;
    font-size: 7em;
    
}

/* Projects */

#projects {
    background-color: #abd1c6;
    padding-top: 20px;
   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 2px solid black;
}


#software-box {
 margin-top: 30px;
 margin-bottom: 30px;   
 display: flex;
 flex-direction: column;
 align-items: center;
}



.img {
    height: 500px;
    width: auto;
    border-radius: 15px;
    border: 1px solid black;
}


.w3-button {
    margin-top: 20px;
    background-color: white; /* Green */
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Footer */


footer {
    background-color: #004643;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid black;
    padding-top: 60px;
    padding-bottom: 60px;

}

#footer-img {
    width: 30%;
    height: auto;
}

#footer-text {
    color: #fffffe;
font-size: 56px;
font-weight: 500;
font-family: "Arvo", monospace;
}


footer a {
    text-decoration: none;
}


footer a:active{
    text-decoration: none;
}

footer a:visited{
    text-decoration: none;
}

/* Media query */

@media only screen and (max-width: 1024px) {
    header {
        display: none;
    }


    section {
        display: flex;
        flex-direction: column;
    }

    /* Description */

    #description {
        background-color: #004643;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 100vw;
        padding-top: 30px;
    }

    #my-pic {
        width: 300px;
        height: auto;
    }
    
    #text-area {
     width: 60%;  
     text-align: center;
    }
    
    #description-big {
        color: #fffffe;
        font-size: 56px;
        font-weight: 500;
        
    }
    
    #description-small {
        color: #abd1c6;
        font-size: 20px;
    }


    
/* About Me */

#about-me {
    background-color: #abd1c6;
    padding-top: 20px;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
}

#about-me-text {
    width: 65%;
    padding-top: 30px;
}


#about-me-p {
    color: #004643;
    font-size: 18px;
    line-height: 1.2em;
    
}

#me {
    max-height: 300px;
    width: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    overflow-x: hidden;
}

/* Skills */

#skills {
    background-color: #004643;
    border-top: 2px solid black;
    height: auto;
    width: 100%;

}


#icon-area {
    display: flex;
    flex-direction: column;
    align-items: center;
  padding-top: 30px;
   padding-bottom: 30px;
}

.icon {
    font-size: 6em;   
}

/* Projects */

#projects {
    background-color: #abd1c6;
    padding-top: 20px;
    width: 100vw;
    height: auto;
    border-top: 2px solid black;
}


#software-box {
 margin-top: 30px;
 margin-bottom: 30px;   
 display: flex;
 flex-direction: column;
 align-items: center;
height: 100%;
width: auto;
}



.img {
    height: auto;
    max-width: 100vw;
    min-width: 300px;
    border-radius: 15px;
    border: 1px solid black;
   margin-bottom: 20px;
}


.w3-button {
    margin-top: 20px;
    background-color: white; /* Green */
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/* Footer */


footer {
    width: 100vw;
    background-color: #004643;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
}

#footer-img {
    width: 60%;
    height: auto;
}

#footer-text {
    color: #fffffe;
font-size: 30px;
font-weight: 500;
font-family: "Arvo", monospace;
margin-top: 80px;
margin-bottom: 80px;
padding: 20px;
border: 1px solid black;
background-color: #e16162;
border-radius: 15px;
}


footer a {
    text-decoration: none;
}


footer a:active{
    text-decoration: none;
}

footer a:visited{
    text-decoration: none;
}

}

